<ion-header>
    <ion-toolbar  color="secondary" hide-back-button >
          <ion-title> Valeurs </ion-title>
          <ion-buttons end>
            <button ion-button icon-only (click)="logOut()">
                <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
            </button>
          </ion-buttons>
    </ion-toolbar>  
  </ion-header>

<ion-content color="light2" >
      
    <ion-grid >
        <ion-row responsive-sm  >
            <ion-col col-2 > 
            </ion-col> 
            <ion-col col-8 >  
  
      <ion-list no-lines *ngFor="let item of data">       
          
            <ion-card>
                    <ion-card-header>
                     <b> {{item.test_label}}</b>
                    </ion-card-header>
                    <ion-card-content>
                    <div [innerHtml]="item.test_intro_fr"  *ngIf="parameter2==2" ></div>
                    <div [innerHtml]="item.test_intro_gr"  *ngIf="parameter2==3" ></div>
                    <div [innerHtml]="item.test_intro_en"  *ngIf="parameter2==1" ></div>
                    </ion-card-content>
                  </ion-card>
            


                  <button ion-button  full ion-button  full class="bottom" (click)="goTest()">  {{ 'next' | translate }}</button>
      </ion-list>
 </ion-col>
 <ion-col col-2 > 
          </ion-col> 
        </ion-row>
      </ion-grid>
  </ion-content>
  
