page-login {
 
    .logo{
     margin-bottom: 0%;
     margin-top: 10%;
     }

     .bottom{
      
      margin-top: 10%;
      }
      .login-container > .header {
        -webkit-flex: 4;
        padding-top: 20px;
        text-align: center;
    }
 
      .no-border {
        border-bottom: 0 !important;
        box-shadow: none !important;
      }
      ion-row {
        align-items: center;
        text-align: center;
      }
      @media only screen and (min-width: 768px) {
        ion-col.col {
          margin: 0 auto;
          max-width: 40%;
        }
      }
      span {
        color: white;
        
      }


      ion-item {
        // border-radius: 30px !important;
        padding-left: 10px !important;
        margin-bottom: 10px;
        background-color: #f6f6f6;
        color:black;
        opacity: 0.6;
        font-size: 0.9em;
      }
      ion-list {
        margin: 0;
      }
      .login-button {
        width: 100%;
        // border-radius: 30px;
        font-size: 0.9em;
        // border: 1px solid #fff;
        background-color: #FFF;
      }

      a {

        color:white;
      }


      img{
        text-align: center;
      }
      .login-container {
        text-align: center;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        height: 130%;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#f7d47c));
        background: -webkit-linear-gradient(top, #000033 0%,#FFF 100%);
    }


    .login-container > .button-row img {
      text-align: center;
      max-width: 80%;
  }

  img{
    text-align: center;
  }

  .term
  {
    padding-top: 20px;
  }

  .terms-checkbox-label
  {
    overflow: visible;
    text-overflow: initial;
    white-space: initial;
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
  }

  .error-message
  {
    color: red;
  }

  .version{
   color: white;

   text-align: right;
   font-size: 10px;
  }
}
