
    <ion-content scroll="false" >

            <ion-grid class="login-container">

                    <div class="version">  version 1.6</div>

                    <ion-row responsive-sm  >

                            <ion-col col-12 col-12 > 
                 <img src="assets/imgs/logo-admin.png" width="300px" class="logo" item-start  />
                                </ion-col>


                    </ion-row>

                    <ion-row responsive-sm  >
                         
                            <ion-col col-12 col-12 >         
        <section >
          <ion-list  padding>
                <h3 style="color: white;">  {{ 'login' | translate }}</h3>
                <ion-item>
                        <ion-label floating> {{ 'email' | translate }}</ion-label>
                        <ion-input [(ngModel)] = "email" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating> {{ 'password' | translate }} </ion-label>
                        <ion-input [(ngModel)] = "password" type="password"></ion-input>
                    </ion-item>
          
            
                <button ion-button  full ion-button  full color="red" class="bottom" (click)="doLogin()">{{ 'login' | translate }}</button>
                  <br />
                  
          <button style="display:none" ion-button block  color="secondary" (click)="doRegister()"> Inscription</button>
          <br />   

        </ion-list>
    
         
    </section>
</ion-col>
<ion-col col-12 col-12 > 
        <h3 style="color: white;">  {{ 'singup' | translate }}</h3>
  <ion-item>
        <ion-label color="primary" stacked> {{ 'lastname' | translate }} </ion-label>
      <ion-input type="text" placeholder="{{ 'lastname' | translate }}" [(ngModel)]="lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>{{ 'firstname' | translate }} </ion-label>
        <ion-input type="text" placeholder="{{ 'firstname' | translate }} " [(ngModel)]="firstname"></ion-input>
      </ion-item>
       <ion-item>
          <ion-label color="primary" stacked> Email  </ion-label>
         <ion-input type="email" placeholder="Email" [(ngModel)]="emailr"></ion-input>
       </ion-item>
       <ion-item>
          <ion-label color="primary" stacked> {{ 'city' | translate }}  </ion-label>
         <ion-input type="text" placeholder="{{ 'city' | translate }} " [(ngModel)]="city"></ion-input>
       </ion-item>   
        <ion-item>
            <ion-label color="primary" stacked>{{ 'birthday' | translate }}  </ion-label>
            <ion-input type="date" placeholder="DD/MM/YYYY" [(ngModel)]="birthday" ></ion-input>
            </ion-item>
      
      
       <ion-item>
          <ion-label  color="primary" stacked>{{ 'kind' | translate }} </ion-label>
          <ion-select [(ngModel)]="genre">
            <ion-option value="f">{{ 'women' | translate }} </ion-option>
            <ion-option value="m">{{ 'man' | translate }} </ion-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
            <ion-label  color="primary" stacked>Dîplome</ion-label>
            <ion-select [(ngModel)]="diplome" >
              <ion-option value="matuspe">Matu spé</ion-option>
              <ion-option value="matupro">Matu Pro</ion-option>
              <ion-option value="matugym">Matu gym</ion-option>
              <ion-option value="autres">{{ 'autres' | translate }} </ion-option>
              <ion-option value="titresetrangers">{{ 'titles' | translate }}</ion-option>
            </ion-select>
          </ion-item>
        
          <ion-item>
                <ion-label color="primary" stacked>{{ 'password' | translate }}</ion-label>
                <ion-input type="password" placeholder="{{ 'password' | translate }}" [(ngModel)]="passwordr" ></ion-input>
                </ion-item>
            
              <button ion-button  full ion-button color="red"  (click)="doSave()">{{ 'singup' | translate }}</button>
                        
    </ion-col>
</ion-row>
</ion-grid>
  </ion-content>

  <ion-footer>
      <ion-toolbar  color="light2"  >
          <ion-grid>
              <ion-row>
                <ion-col col-3>
            
                </ion-col>
                <ion-col col-6>
                </ion-col>
                <ion-col col-1>
                    <p>      {{ 'chooselanguage' | translate }}</p>
                  </ion-col>
                <ion-col col-2>
                    <ion-item>
                    <ion-select (ionChange)="changeLanguage()" [(ngModel)]="lg" selected="fr" >
                        <ion-option  value="fr" >Français</ion-option>
                        <ion-option  value="de" >Deutsch</ion-option>
                        <ion-option  value="en" >English</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-toolbar>
   </ion-footer>


