page-stress {
    .paddingietem{ margin: 20px 0 20px 0}


    img {
        width: 100%;
        max-width: 350px;
    }

    .cont{
        margin-right: 50px;
        padding-right: 25px;
        width: 250px;
        height: 250px;
        background-color: white;
    }
}
