page-memoire {
    .paddingietem{ margin: 20px 0 20px 0}

    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
        }}



     
        ion-list{
            justify-content: center;
            display: flex!important;
             align-items: center!important;
        }

        .loader{
            background:#84bdf1 !important;
            border-radius:100px;
            height:20px;
            p{
                text-align:center;
                color:white !important;
                text-align:center;
            }
        }
}
