<ion-header>
    <ion-toolbar  color="secondary" hide-back-button >
          <ion-title>  </ion-title>
            <h3 text-center *ngIf="displayTime!==0">{{displayTime}}</h3>
          <ion-buttons end>
            <button ion-button icon-only (click)="logOut()">
                <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
            </button>
          </ion-buttons>
    </ion-toolbar>  
  </ion-header>
  
  <ion-content color="light2" >
  
      <ion-grid  >
    
          <ion-row responsive-sm  >
              <ion-col col-2 > 
              </ion-col> 
              <ion-col col-8 >  
                
                  <div *ngIf="hide==0">
                      <ion-list >  
                        <ion-card>
                          <ion-card-header>
                           <b> {{question_label}}</b>
                             {{indexdisplay}}/{{nbquestionbytest}}
                          </ion-card-header>
                          <ion-card-content >
                              <p [innerHTML]="q_h"></p>  
                          </ion-card-content>
                        </ion-card>
                      </ion-list>
                      <ion-list padding>  
                        
                            <ion-row style="text-align: center">
                
                              <div *ngFor="let item of options; let i=index" >
                                <img  [src]="item" style="width:300px;height:300px;text-align: center"/> 
                              </div>

                          
                            </ion-row>
                      </ion-list>
                      <ion-list padding>  
                          <b>{{question_label}}</b>
                          </ion-list>
                        </div>
                          <ion-list padding>  


                              <div *ngIf="hide==1" style="width:99%">
                               
                                  <p>     Dans cette épreuve, vous devez mémoriser une série de 25 pairs image/mot qui vous sont présentées une à une pendant un court laps de temps.</p>
                                  <button ion-button  full ion-button  full class="bottom" (click)="displayimages()">  {{ 'next' | translate }}</button>
                              
                               </div> 

                            <div *ngIf="hide==2" style="width:99%">

                                <ion-list padding>  
                        
                                    <ion-row style="text-align: center">
                        
                                      <div *ngFor="let item of options; let i=index" >
                                        <img  [src]="item" style="width:300px;height:300px;text-align: center"/> 
                                      </div>
        
                                  
                                    </ion-row>
                              </ion-list>
                              <ion-item *ngFor="let item of options2; let i=index" >
                                <ion-label>{{item}}</ion-label>
                                <ion-checkbox item-right [ngModel]="checkedIdx == i"  (ngModelChange)="$event ? checkedIdx = i : checkedIdx = -1" 
                                [disabled]="checkedIdx >= 0 && checkedIdx != i"></ion-checkbox>
                              </ion-item>
                              <button ion-button  full (click)="next2()" [disabled]="checkedIdx == -1">{{ 'next' | translate }}</button>
                            </div> 


                             <div *ngIf="hide==4" style="width:99%">
                               
                                <p>    Vous avez terminé la première partie. Vous allez maintenant revoir une à une, les 25 images et leur mot. Quans vous êtes prêt, cliquez sur suivant</p>
                                <button ion-button  full ion-button  full class="bottom" (click)="displayimages2()">  {{ 'next' | translate }}</button>
                            
                             </div> 
                             <div *ngIf="hide==5" style="width:99%">
                               
                                <p>    Vous avez terminé la seconde partie du test de mémoire. Pour avancer, cliquez sur Suivant</p>
                                <button ion-button  full ion-button  full class="bottom" (click)="displayintro3()">  {{ 'next' | translate }}</button>
                            
                             </div> 

                             <div *ngIf="hide==6" style="width:99%">
                               
                                <p>   Vous maintenant terminé la 3ème et dernière phase du test de mémoire</p>
                                <button ion-button  full ion-button  full class="bottom" (click)="finish()">  {{ 'next' | translate }}</button>
                            
                             </div> 
                            

                             <div *ngIf="hide==7" style="width:99%">
                               
                                <p>    Nous voulons tester le souvenir qu'il vous reste du test de mémoire. Veuillez à nouveau choisir parmi les 5 propositions, le mot associé à l'image</p>
                                <button ion-button  full ion-button  full class="bottom" (click)="displayimage3()">  {{ 'next' | translate }}</button>
                            
                             </div> 





              </ion-list>
                  
                
                    
     </ion-col>
     <ion-col col-2 > 
          {{question_num}}
              </ion-col> 
            </ion-row>


           <div style="width:70%; text-align: center; margin: 0 auto;" >
              <div class="progress-outer" style="margin: 1px 1px;padding: 1px;text-align: center;background-color: #cfcfcf;border: 1px solid #dcdcdc;color: #fff;border-radius: 20px;">
              <div class="progress-inner" [style.width]="progressPercent + '%'" style="width: 96%;height:20px;margin: 2px 2px;text-align: center;background-color: #84bdf1;border: 1px solid #dcdcdc;color: #fff;border-radius: 20px;">
                 {{progressPercent}}%
              </div>
              </div>
              </div> 
       
          </ion-grid>
      
    </ion-content>
    
  