
<ion-header>
<ion-toolbar  color="secondary" hide-back-button >
<button ion-button menuToggle>
<ion-icon name="menu"></ion-icon>
</button>
<ion-title> Modifier utilisateur</ion-title>
              <ion-buttons end> 
        
                 
                <button ion-button icon-only (click)="doSave()">
                        <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>Enregistrer
              </button>
               
        
              </ion-buttons>
        </ion-toolbar>
        </ion-header>
  <ion-content cache-view="false" color="light2" >
      
  <ion-grid *ngFor="let item of data">
      <ion-row responsive-sm  >
     
<ion-col col-12 col-sm>  

              
    <button ion-button padding full color="light"> Profil</button>
 

        
                 
                        <ion-item>
                       Date de création : {{item.date_added }}
                        </ion-item>
                            <ion-item>
                                <ion-label color="primary" stacked>Prénom</ion-label>
                                <ion-input type="text" placeholder="Prénom" value="{{item.firstname}}"[(ngModel)]="firstname">{{item.firstname}}</ion-input>
                              </ion-item>
                            <ion-item>
                            <ion-label color="primary" stacked> Nom </ion-label>
                          <ion-input type="text" placeholder="Nom"  value="{{item.lastname}}"[(ngModel)]="lastname">{{item.lastname}}</ion-input>
                        </ion-item>
            
                           <ion-item>
                              <ion-label color="primary" stacked> Email  </ion-label>
                             <ion-input type="email" placeholder="Email" value="{{item.email}}"[(ngModel)]="email">{{item.email}</ion-input>
                           </ion-item>
                      
                           <ion-item>
                              <ion-label color="primary" stacked> Ville </ion-label>
                             <ion-input type="text" placeholder="Ville" value="{{item.city}}"[(ngModel)]="city">{{item.city}}</ion-input>
                           </ion-item>

                         
  <ion-item>
      <ion-label color="primary" stacked>Date anniversaire </ion-label>
      <ion-input type="date" placeholder="DD/MM/YYYY" [(ngModel)]="birthday" ></ion-input>
      </ion-item>


<ion-item>
<ion-label  color="primary" stacked>Genre</ion-label>
<ion-select [(ngModel)]="genre">
<ion-option value="f">Femme</ion-option>
<ion-option value="m">Homme</ion-option>
</ion-select>
</ion-item>

  <ion-item>
      <ion-label  color="primary" stacked>Dîplome</ion-label>
      <ion-select [(ngModel)]="diplome" >
        <ion-option value="matuspe">Matu spé</ion-option>
        <ion-option value="matupro">Matu Pro</ion-option>
        <ion-option value="matugym">Matu gym</ion-option>
        <ion-option value="autres">Autres</ion-option>
        <ion-option value="titresetrangers">Titres étrangers</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label color="primary" stacked>Temps supplémentaire </ion-label>
      <ion-input type="text" placeholder="Nom"  value="{{item.time}}"[(ngModel)]="time">{{item.time}}</ion-input>
    </ion-item>

                      
    <button ion-button  full ion-button color="red"  (click)="doSave()">Enregistrer</button>
                              
             

      </ion-col>

        <ion-col col-12 col-sm> 
         
     
     <button ion-button padding full color="light"> Changement de mot de passe </button>
     <ion-item>
         <ion-label color="primary" stacked> Nouveau mot de passe </ion-label>
         <ion-input type="password" placeholder="Mot de passe" [(ngModel)]="password" ></ion-input>
     </ion-item>

     <button ion-button  full ion-button color="red"  (click)="doSavepassword()">Enregistrer</button>
        </ion-col> 



      </ion-row>
    </ion-grid>
</ion-content>
