<ion-header>
    <ion-toolbar  color="secondary"  >
        <ion-grid>
            <ion-row>
              <ion-col col-3>
              <h3>      {{ 'passation' | translate }}</h3>
              </ion-col>
              <ion-col col-6>
              </ion-col>
              <ion-col col-1>
                  <p>      {{ 'chooselanguage' | translate }}</p>
                </ion-col>
              <ion-col col-2>
                  <ion-item>
                  <ion-select (ionChange)="changeLanguage()" [(ngModel)]="lg" selected="fr" >
                      <ion-option  value="fr" >Français</ion-option>
                      <ion-option  value="de" >Deutsch</ion-option>
                      <ion-option  value="en" >English</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
 </ion-header>
  <ion-content>

      <ion-row responsive-sm  >
          <ion-col col-6>  
            <ion-card>
            {{ 'bienvenue' | translate }}

            </ion-card>

          </ion-col>
          <ion-col col-6 > 
            
              <ion-card>
                
              {{ 'descbienvenue' | translate }}
                  
              </ion-card>
          </ion-col>
      </ion-row>
    <ion-grid  >

    
      <ion-row responsive-sm  >
<ion-col col-12 col-2>  </ion-col>
<ion-col col-12 col-8>  <ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-list>
    <ion-item *ngFor="let item of pass">
        <ion-thumbnail item-start>
            <img  [src]="item.image" style="width:100px;height:100px"/>
            </ion-thumbnail>   
            <b>{{item.title}} </b> 
            <h5>{{item.subtitle}}</h5>
       
            <div class="buttons" item-right>
                <button ion-button  (click)="doPrompt($event, item)"> {{ 'code' | translate }} </button>
              </div>
              </ion-item>
      </ion-list>
 

   
       
</ion-col>
<ion-col col-12 col-2>  </ion-col>
</ion-row>
</ion-grid>

  </ion-content>
  
  