
<ion-header>
    <ion-toolbar  color="secondary" >
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>  Intro </ion-title>
                  <ion-buttons end>             
                  </ion-buttons>
            </ion-toolbar>
            </ion-header>

            <ion-content>
              <ion-grid >
                <ion-row responsive-sm  >
          <ion-col col-12 col-sm>  </ion-col>
          <ion-col col-12 col-sm>  <ion-item *ngFor="let item of posts2">
            <ion-icon ios="ios-albums" md="md-albums"></ion-icon>   <b>{{item.test_label}}</b>

          </ion-item> </ion-col>
          <ion-col col-12 col-sm>  </ion-col>
          </ion-row>
          </ion-grid>
  </ion-content>
  
