page-orderpassation {

  ion-item{
    &:hover{
      background-color: #51a7e8;
      cursor: pointer;
    }
  }
  .correct{
    color: green !important;
  }
  .incorrect{
    color: red !important;
  }
  .wrap{
    width: 95%;
    margin:0 auto;
  }
  .header{
    text-align: center;
  }
  .left{
    float: left;
  }
  .box{
    width: 48%;
    padding: 0;
    border: 1px solid #000000;
    overflow-y: scroll;
    height: 700px;
  }
  .boxleft{
    width: 48%;
    padding: 0;
    border: 1px solid #000000;
    overflow-y: scroll;
    height: 650px;
  }

  
  .boxsave{
    width: 50%;
    padding: 20px 0 0 0;
    top: 700px;
    position: absolute;
    width: 45%;
    height: 50px;
  }
  .right{
    float: right;
  }
  // Dragula stuff
  
  .gu-mirror{
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide{
    display: none !important;
  }
  .gu-unselectable{
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit{
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=20);
  }

  ion-avatar img  {
    width:100% !important;
    height : 100% !important;
    max-width: 40px !important;  //any size
    max-height: 40px !important; //any size
  }
  
  .label-md {
      font-size: 12px;
  }
  
  .backcolor{
    background-color: #4b4b4b;
  }
  
  .searchbar-input {
    font-size: 8px;
  }
  
  .searchbar-md {
    background: inherit;
    padding: 0px;
  }
  
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  
  @media (min-width: 992px) {
    .hidden-lg-up {
      display: none !important;
    }
  }
 
  .back{
    background-color: #bcbcbc;
  }


  }