<ion-header>
  <ion-toolbar  color="secondary" >
 
            
          </ion-toolbar>
          </ion-header>

<ion-content color="light2" >
    
  <ion-grid >
      <ion-row responsive-sm  >
          <ion-col col-2 > 
          </ion-col> 
          <ion-col col-8 >  

    <ion-list no-lines >       
        
          <ion-card>
                  <ion-card-header>
                   <b> {{ 'thk' | translate }} </b>
                  </ion-card-header>
                  <ion-card-content>
                  
                  </ion-card-content>
                </ion-card>
                <button ion-button  full ion-button  full class="bottom" (click)="Logout()"> {{ 'logout' | translate }}</button>
    </ion-list>
</ion-col>
<ion-col col-2 > 
        </ion-col> 
      </ion-row>
    </ion-grid>
</ion-content>
