page-valeurs {
    .item-md {
        border-radius: 25px;
        padding: 5px;
        margin-top: 15px;
        text-align: center;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0px ;
    }
}
