<ion-header>
    <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
  
      <ion-title>Réglages</ion-title>
  
    </ion-navbar>
  
  </ion-header>



     
  <ion-content>
   
      <ion-list no-border>
        <ion-list-header>
          General
        </ion-list-header>
 
        <ion-item>
          <ion-toggle [(ngModel)]="enableNotifications" (click)="toggleNotifications()"></ion-toggle>
          <ion-label class="label"> Activé notifications </ion-label>
          <ion-icon name='notifications' item-start></ion-icon>
        </ion-item>
      </ion-list>

    </ion-content>