// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


h2{
  font-size:1.2rem;
}
$toolbar-ios-title-font-size:	1.0rem;
$toolbar-title-md-font-size: 1rem;
$action-sheet-wp-title-font-size: 1rem;
$toolbar-title-font-size:	1.0rem;
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:   #bf311a,
  secondary:   #969696,
  accept:#00cc66,
  danger: #bf311a,
  light:  #8b8b8b,
  light2:      #969696,
  dark:       #222,
  grey:     #cccccc,
  red:   #bf311a,
green:#008000,
greenlight:#00e6ac,
blue:#b3e0ff,
orange:#ff4d4d,
violet:#944dff,
marron:#c7725d,

);
$ion-icon-font-size: 6px;


$background-md-color: #f2f2f2;





// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$font-family-sans-serif:          "Roboto", "Segoe UI", sans-serif !default;
$button-font-size:     10px !default;
$button-bar-button-height:        32px !default;
$button-bar-button-padding:       8px !default;
$button-bar-button-icon-size:     20px !default;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
