
<ion-header>
    <ion-toolbar  color="secondary" >
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Test (Ordre question)</ion-title>
                  <ion-buttons end>             
                  </ion-buttons>
            </ion-toolbar>
            </ion-header>

<ion-content color="light2" >
    <ion-grid>
                 <div class="wrap">
                    <div class="left box">

                        

                        <ion-row responsive-sm >
                                    <ion-item *ngFor="let item of data"  class="back"> 
                                            <ion-icon ios="ios-contact" md="md-contact"></ion-icon>      
                                            <ion-label><b> <ion-icon ios="ios-document" md="md-document"></ion-icon> {{item.test_label}} </b> /  Numéro : <b>{{item.test_num}} </b> /   Durée  <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>:    <b>{{item.test_duree}} minutes</b></ion-label>  
                                          </ion-item>
                                          <ion-item *ngFor="let item of data"  class="back"> 
                                                <ion-icon ios="ios-contact" md="md-contact"></ion-icon>      
                                                <ion-label > {{item.test_titre}}</ion-label>  
                                          </ion-item>
                         </ion-row> 
                
                         <ion-list >   
                                <ion-item-group [reorder]="editing" (ionItemReorder)="reorderData($event)">
                                        <ion-item *ngFor="let item of posts2">
                                          <h2> {{item.question_num}}</h2>
                                          <b>{{item.question_label}}</b>
                                          <button ion-button item-end small color="light2" (click)="delete($event, item)"> <ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
                                        </ion-item>
                                      </ion-item-group>
                         </ion-list>
                 
                    </div>

                    <div class="boxsave">
                    <button ion-button block  color="red" (click)="save()">Enregistrer </button>
                    </div>
                    <div class="right box">

                            <ion-row responsive-sm class="backcolor" >
  
                                    <ion-col col-12 col-md-12>
                                      <ion-searchbar
                                      type=number
                                      [(ngModel)]="wordid"
                                      [showCancelButton]="shouldShowCancel"
                                      (ionInput)="onInputid($event)"
                                      (ionCancel)="onCancel($event)"
                                      placeholder="Id num" >
                                     </ion-searchbar>
                                     </ion-col>
                                    
                                      <ion-col col-12 col-md-12>
                                          <ion-searchbar
                                          [(ngModel)]="word"
                                          [showCancelButton]="shouldShowCancel"
                                          (ionInput)="onInput($event)"
                                          (ionCancel)="onCancel($event)"
                                          placeholder="Titre">
                                        </ion-searchbar>
                                      </ion-col>
                              
                                    </ion-row>

                              

                                    <ion-row responsive-sm class="backcolor" >
  
                                        
                                            <ion-col col-12 col-md-10 color="secondary">
                                                <ion-item color="secondary">
                                                    Nombre de résultats : <b>{{items}}</b>
                                                    Page : <b>{{currentpage}} / {{pages}}</b>
                                                </ion-item>
                                            </ion-col>
                                            <ion-col col-12 col-md-2>
                                              <button ion-button color="light" (click)="reset()" > <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon></button>
                                            </ion-col>
                                            </ion-row>

                      
                            <ion-list>
                     <ion-item *ngFor="let item of posts"><b> {{item.question_num}} {{item.question_label}} </b>
                    
                        <button ion-button item-end small color="red" (click)="add($event, item)"> <ion-icon ios="ios-add" md="md-add"></ion-icon></button>
                    
                    </ion-item>

                  
                    <button ion-button small color="secondary" (click)="prev()"> Precédent</button>
                    <button ion-button small color="secondary" (click)="next()"> Suivant</button>
                   
             </ion-list>
                     
                    </div>
                </div>
        <ion-row>
          <ion-col col-12 col-sm> 
          </ion-col> 
        </ion-row>
      </ion-grid>
  </ion-content>
  
