// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.split-pane-md.split-pane-visible > .split-pane-side {
    min-width: 220px;
    max-width: 15%;
    width: 220px;

    border-left: 0;
}

.title-menu{
    background-color:#4b4b4b !important;
}
ion-menu{
    font-size: 1.0rem;
    max-width: 100px!important;
.label {
      font-weight: 400;
      font-size: 1.3rem;
    }
ion-content{
    background-color:#4b4b4b !important;
    }}