

<ion-menu [content]="content" >
  <ion-header color="secondary">
    <ion-toolbar color="secondary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-list>
        <ion-item menuClose *ngFor="let p of pages"  [color]="isActive(p)" (click)="openPage(p)">
            <ion-icon item-left small [name]="p.icon" width="10px"></ion-icon>
       {{p.title}}
        </ion-item>
      </ion-list>
        <ion-list  >
        <button ion-item menuClose *ngFor="let p of pages2"  [color]="isActive(p)" (click)="dologout()">
            <ion-icon item-left small [name]="p.icon"></ion-icon>
          {{p.title}} 
        </button>
   
    </ion-list>


  
  </ion-content>

</ion-menu>

 <!-- main navigation -->
 <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
