page-sessions {

  .image {

width:100px;
height:100px;

  }
  .label-md {
      font-size: 12px;
  }
  
  .backcolor{
    background-color: #4b4b4b;
  }
  
  .searchbar-input {
    font-size: 8px;
  }
  
  .searchbar-md {
    background: inherit;
    padding: 0px;
  }
  
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  
  @media (min-width: 992px) {
    .hidden-lg-up {
      display: none !important;
    }
  }
  }
  
  