<ion-header>
    <ion-toolbar  color="secondary" hide-back-button >
          <ion-title> {{ 'session' | translate }} </ion-title>
          <ion-buttons end>
            <button ion-button icon-only (click)="logOut()">
                <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
            </button>
          </ion-buttons>
    </ion-toolbar>  
</ion-header>
<ion-content>
    <ion-grid  >
      <ion-row responsive-sm  >
<ion-col col-12 col-2>  </ion-col>
<ion-col col-12 col-8>  <ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-list>

   
    <ion-item *ngFor="let item of pass" >
        <ion-thumbnail item-start>
            <img  [src]="item.image" style="width:100px;height:100px"/>
            </ion-thumbnail>   
            <b>{{item.title}} </b> {{item.sessionorder}}
            <h5>{{item.subtitle}}</h5>
       
            <div class="buttons" item-right>
                <button ion-button  (click)="gotest($event, item)"> {{ 'start' | translate }} </button>
              </div>
              </ion-item>

              <ion-item *ngFor="let item of session">
                    <ion-thumbnail item-start>
                        <img  [src]="item.image" style="width:100px;height:100px"/>
                        </ion-thumbnail>   
                        <b>{{item.title}} {{item.sessionorder}} </b> 
                        <h5> <b>Date de création : {{item.modified| date: 'dd/MM/yyyy'}} </b></h5>
                   
                        <div class="buttons" item-right>
                            <button ion-button color="green" (click)="goRestore($event, item)"> {{ 'restart' | translate }} </button>
                          </div>
                          </ion-item>
      </ion-list>
</ion-col>
<ion-col col-12 col-2>  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
  
  