
<ion-header>

  <ion-navbar color="secondary">

      <div style=" font-size: 15px;padding-left:15px;color:aliceblue;font-weight:bold;">
          Mot de passe oublié </div>

  </ion-navbar>

</ion-header>

  <ion-content padding>

      <ion-list>

    

      
          <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input [(ngModel)] = "email" type="text"></ion-input>
          </ion-item>

      </ion-list>
      <button ion-button full color="secondary" (click)="do()">Envoyer </button>


  </ion-content>

