<ion-header>
    <ion-toolbar  color="secondary" hide-back-button >
        <button ion-button menuToggle class="hidden-lg-up">
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title> Tests</ion-title>
          
          <ion-buttons end> 
        <button ion-button icon-only (click)="goAdduser()">
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> Ajouter 
        </button>
        </ion-buttons>
        
      </ion-toolbar>  
   
    </ion-header>
  
  <ion-content>
      <ion-row responsive-sm class="backcolor" >
    
        <ion-col col-12 col-md-2>
          <ion-searchbar
          type=number
          [(ngModel)]="wordid"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInputid($event)"
          (ionCancel)="onCancel($event)"
          placeholder="Id" >
        </ion-searchbar>
      </ion-col>
        
          <ion-col col-12 col-md-4>
              <ion-searchbar
              [(ngModel)]="word"
              [showCancelButton]="shouldShowCancel"
              (ionInput)="onInput($event)"
              (ionCancel)="onCancel($event)"
              placeholder="Titre">
            </ion-searchbar>
          </ion-col>
  
  
          <ion-col col-12 col-md-1>
          <button ion-button color="light" (click)="reset()" > <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon></button>
        </ion-col>
          <ion-col col-12 col-md-5 color="secondary">
            <ion-item color="secondary">
                Nombre de résultats : <b>{{items}}</b>
                Page : <b>{{currentpage}} / {{pages}}</b>
            </ion-item>
          </ion-col>
  
        </ion-row>
  
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      
      <ion-list>

          <ion-item *ngFor="let item of posts" > 
              <ion-icon ios="ios-contact" md="md-contact"></ion-icon>      
              <ion-label><b>{{item.test_num}}<ion-icon ios="ios-document" md="md-document"></ion-icon> {{item.test_label}} </b> </ion-label>  
              <ion-label   *ngIf="item.test_category==42" >     <ion-icon ios="ios-pricetag" md="md-pricetag">  </ion-icon> <b> Logique </b> </ion-label >
                <ion-label   *ngIf="item.test_category==13" >     <ion-icon ios="ios-pricetag" md="md-pricetag">  </ion-icon> <b> Jugement </b></ion-label >
                <ion-label   *ngIf="item.test_category==1552" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Verbal ( Compréhension )</b> </ion-label >
                <ion-label   *ngIf="item.test_category==713" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Verbal ( Définition )</b> </ion-label >
                <ion-label   *ngIf="item.test_category==1574" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Verbal ( Synonyme )</b> </ion-label >
                <ion-label   *ngIf="item.test_category==142" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Verbal ( Elimination )</b> </ion-label >
                <ion-label   *ngIf="item.test_category==14" >     <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Valeurs </b></ion-label >
                <ion-label   *ngIf="item.test_category==22" >     <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Stress </b> </ion-label >
                <ion-label   *ngIf="item.test_category==533" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Imagination</b> </ion-label >
                <ion-label   *ngIf="item.test_category==725" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Données scientifiques</b> </ion-label >
                <ion-label   *ngIf="item.test_category==394" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Mémoire </b> </ion-label >
                <ion-label   *ngIf="item.test_category==1616" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Vidéo</b> </ion-label > 
                <ion-label   *ngIf="item.test_category==122" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Expressions faciales</b> </ion-label >
                <ion-label   *ngIf="item.test_category==1654" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Représentation spatiale</b> </ion-label >
                <ion-label   *ngIf="item.test_category==1609" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Langue</b> </ion-label >
                <ion-label   *ngIf="item.test_category==255" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (Att.Personnelles)</b> </ion-label >
                <ion-label   *ngIf="item.test_category==345" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (EDUC) </b> </ion-label >
                <ion-label   *ngIf="item.test_category==1283" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (SF_GE) </b> </ion-label >
                <ion-label   *ngIf="item.test_category==1388" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (SF_VD) </b> </ion-label >
                <ion-label   *ngIf="item.test_category==1193" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (PHYSIO) </b> </ion-label >
                <ion-label   *ngIf="item.test_category==1013" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (HD) </b> </ion-label >
                <ion-label   *ngIf="item.test_category==818" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (DIETE) </b> </ion-label >
                <ion-label   *ngIf="item.test_category==923" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (ERGO)</b> </ion-label >
                <ion-label   *ngIf="item.test_category==1103" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (OSTEO)</b> </ion-label >
                <ion-label   *ngIf="item.test_category==1872" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (PODO) </b> </ion-label >
              <ion-label> <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon><b>{{item.test_duree}} </b></ion-label>  
              <ion-label> {{item.test_titre}}</ion-label>  
              <button ion-button item-end small color="red" (click)="order($event, item)"> <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon></button>
              <button ion-button item-end small color="secondary" (click)="edit($event, item)"><ion-icon ios="ios-brush" md="md-brush"></ion-icon></button>
              <button ion-button outline item-end small color="secondary" (click)="delete($event, item)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
          </ion-item>

      </ion-list>
      <button ion-button small color="secondary" (click)="backward()"> <ion-icon ios="ios-skip-backward" md="md-skip-backward"></ion-icon></button>
      <button ion-button small color="secondary" (click)="prev()"> Precédent</button>
      <button ion-button small color="secondary" (click)="next()"> Suivant</button>
      <button ion-button small color="secondary" (click)="forward()"> <ion-icon ios="ios-skip-forward" md="md-skip-forward"></ion-icon></button>
  </ion-content>
  
  