page-questions {

    ion-avatar img  {
      width:100% !important;
      height : 100% !important;
      max-width: 40px !important;  //any size
      max-height: 40px !important; //any size
    }
    
    .label-md {
        font-size: 12px;
    }
    
    .backcolor{
      background-color: #4b4b4b;
    }
    
    .searchbar-input {
      font-size: 8px;
    }
    
    .searchbar-md {
      background: inherit;
      padding: 0px;
    }
    
    .toolbar-title-md {
      padding: 0 12px;
      font-size: 1.5rem;
      font-weight: 500;
    }
    
    
    @media (min-width: 992px) {
      .hidden-lg-up {
        display: none !important;
      }
    }
    }
    