<ion-header>
  <ion-toolbar  color="secondary" hide-back-button >
      <button ion-button menuToggle class="hidden-lg-up">
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title> Questions </ion-title>
        
        <ion-buttons end> 
      <button ion-button icon-only (click)="goAdduser()">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> Ajouter 
      </button>
      </ion-buttons>
      
    </ion-toolbar>  
 
  </ion-header>

<ion-content>
    <ion-row responsive-sm class="backcolor" >
  
      <ion-col col-12 col-md-2>
        <ion-searchbar
        type=number
        [(ngModel)]="wordid"
        [showCancelButton]="shouldShowCancel"
        (ionInput)="onInputid($event)"
        (ionCancel)="onCancel($event)"
        placeholder="Id num" >
       </ion-searchbar>
       </ion-col>
      
        <ion-col col-12 col-md-4>
            <ion-searchbar
            [(ngModel)]="word"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onInput($event)"
            (ionCancel)="onCancel($event)"
            placeholder="Titre">
          </ion-searchbar>
        </ion-col>


        <ion-col col-12 col-md-1>
        <button ion-button color="light" (click)="reset()" > <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon></button>
        </ion-col>

      <ion-col col-12 col-md-5 color="secondary">
          <ion-item color="secondary">
              Nombre de résultats : <b>{{items}}</b>
              Page : <b>{{currentpage}} / {{pages}}</b>
          </ion-item>
      </ion-col>

      </ion-row>
 

    
    <ion-list>
        <ion-item *ngFor="let item of posts" > 
            <ion-label><b>   <ion-icon ios="ios-document" md="md-document"></ion-icon>   {{item.question_num}} </b> type : {{item.question_groupe}}  </ion-label>            
            <ion-label><b> {{item.question_label}} </b> </ion-label>   
              <ion-label   *ngIf="item.question_groupe==42" >     <ion-icon ios="ios-pricetag" md="md-pricetag">  </ion-icon> <b> Logique </b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==13" >     <ion-icon ios="ios-pricetag" md="md-pricetag">  </ion-icon> <b> Jugement </b></ion-label >
              <ion-label   *ngIf="item.question_groupe==1552" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Verbal ( Compréhension )</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==713" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Verbal ( Définition )</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1574" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Verbal ( Synonyme )</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==142" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Verbal ( Elimination )</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==14" >     <ion-icon ios="ios-pricetag" md="md-pricetag">  </ion-icon> <b> Valeurs </b></ion-label >
              <ion-label   *ngIf="item.question_groupe==22" >     <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>   <b> Stress </b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==533" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Imagination</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==725" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Données scientifiques</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==394" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Mémoire </b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1616" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Vidéo</b> </ion-label > 
              <ion-label   *ngIf="item.question_groupe==122" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Expressions faciales</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1654" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Représentation spatiale</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1609" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Langue</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==255" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Questionnaire (Att.Personnelles)</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==345" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Questionnaire (EDUC) </b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1283" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (SF_GE) </b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1388" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (SF_VD) </b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1193" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (PHYSIO) </b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1013" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (HD) </b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==818" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Questionnaire (DIETE) </b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==923" >    <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  <b> Questionnaire (ERGO)</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1103" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (OSTEO)</b> </ion-label >
              <ion-label   *ngIf="item.question_groupe==1872" >   <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon> <b> Questionnaire (PODO) </b> </ion-label >
              <ion-label><b>{{item.question_date_modified}}</b></ion-label>  
            <button ion-button item-end small color="secondary" (click)="edit($event, item)"><ion-icon ios="ios-brush" md="md-brush"></ion-icon></button>
            <button ion-button outline item-end small color="secondary" (click)="delete($event, item)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
          </ion-item>
    </ion-list>

    <button ion-button small color="secondary" (click)="backward()"> <ion-icon ios="ios-skip-backward" md="md-skip-backward"></ion-icon></button>
    <button ion-button small color="secondary" (click)="prev()"> Precédent</button>
    <button ion-button small color="secondary" (click)="next()"> Suivant</button>
    <button ion-button small color="secondary" (click)="forward()"> <ion-icon ios="ios-skip-forward" md="md-skip-forward"></ion-icon></button>
</ion-content>

