page-endtest {

    ion-navbar {
        height: 60px;//by default 56px
    }
 

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 1.5rem;
        font-weight: 500;
      }


    .scroll {
        height: 300px
    }

    #map {
        width: 100%;
        height: 200px;
    }

    ul {
        padding: 0px;
      
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 30px;
          }
        }
      }

  
}
