page-verbalsynonyme {
    .paddingietem{ margin: 20px 0 20px 0}
    .ion-item{

        border-radius: 20px;
        margin-top: 20px;
    }

    .item-md {
    border-radius: 30px;
    margin: 3%;
    }
}
