<ion-header>
  <ion-toolbar  color="secondary" hide-back-button >

        <ion-buttons end>
          <button ion-button icon-only (click)="logOut()">
              <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
          </button>
        </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content color="light2" >
      
    <ion-grid >
        <ion-row responsive-sm  >
            <ion-col col-3 > 
            </ion-col> 
            <ion-col col-6 >  
              
                <div *ngIf="test_nav==1">
                    <ion-list >     
                      <ion-card>
                        <ion-card-header>
                         <b> {{question_label}}</b>
                         {{indexdisplay}}/{{nbquestionbytest}}
                        </ion-card-header>
                        <ion-card-content>
                            <p [innerHTML]="q_h"></p>  
                        </ion-card-content>
                      </ion-card>
                    </ion-list>
                       
                    <ion-list padding>   
                        <ion-item-group [reorder]="editing" (ionItemReorder)="reorderData($event)" >
                                <ion-item *ngFor="let item of datarep " [color]="item.isChecked ? 'green' : 'secondary'"  >
                                  <b>{{item.prop}}</b>
                                </ion-item>
                              </ion-item-group>
                 </ion-list>
                    <ion-list padding>  
                        <ion-row responsive-sm  >
                            <ion-col col-2 > 
                            <button ion-button full (click)="prev()">
                            Précedent
                            </button>
                            </ion-col> 
                            <ion-col col-8 >  
                            </ion-col> 
                            <ion-col col-2 > 
                            <button ion-button  full (click)="next()">
                            Suivant
                            </button>
                            </ion-col> 
                        </ion-row>
                    </ion-list>
                  </div>
                  <div *ngIf="test_nav==2">
                      <ion-list >     
                        <ion-card>
                          <ion-card-header>
                           <b> {{question_label}}</b>
                           {{indexdisplay}}/{{nbquestionbytest}}
                          </ion-card-header>
                          <ion-card-content>
                              <p [innerHTML]="q_h"></p>  
                          </ion-card-content>
                        </ion-card>
                      </ion-list>
                         
                      <ion-list padding>   
                          <ion-item-group [reorder]="editing" (ionItemReorder)="reorderData($event)" >
                                  <ion-item *ngFor="let item of datarep " [color]="item.isChecked ? 'green' : 'secondary'" >
                                    <b>{{item.prop}}</b>
                                  </ion-item>
                                </ion-item-group>
                   </ion-list>
                      <ion-list padding>  
                          <ion-row responsive-sm  >
                              <ion-col col-2 > 
                           
                              </ion-col> 
                              <ion-col col-8 >  
                              </ion-col> 
                              <ion-col col-2 > 
                              <button ion-button  full (click)="next()" >
                              Suivant
                              </button>
                              </ion-col> 
                          </ion-row>
                      </ion-list>
                    </div>
                    <div *ngIf="test_nav==3">
                        <ion-list >     
                          <ion-card>
                            <ion-card-header>
                             <b> {{question_label}}</b>
                             {{indexdisplay}}/{{nbquestionbytest}}
                            </ion-card-header>
                            <ion-card-content>
                                <p [innerHTML]="q_h"></p>  
                            </ion-card-content>
                          </ion-card>
                        </ion-list>
                           
                        <ion-list padding>   
                            <ion-item-group [reorder]="editing" (ionItemReorder)="reorderData($event)" >
                                    <ion-item *ngFor="let item of datarep " [color]="item.isChecked ? 'green' : 'secondary'" >
                                      <b>{{item.prop}}</b>
                                    </ion-item>
                                  </ion-item-group>
                     </ion-list>
                        <ion-list padding>  
                            <ion-row responsive-sm  >
                                <ion-col col-2 > 
                                <button ion-button full (click)="prev()"[disabled]="nbchecked < 4">
                                Précedent
                                </button>
                                </ion-col> 
                                <ion-col col-8 >  
                                </ion-col> 
                                <ion-col col-2 > 
                                <button ion-button  full (click)="next()" [disabled]="nbchecked < 4">
                                Suivant
                                </button>
                                </ion-col> 
                            </ion-row>
                        </ion-list>
                      </div>
                      <div *ngIf="test_nav==4">
                          <ion-list >     
                            <ion-card>
                              <ion-card-header>
                               <b> {{question_label}}</b>
                               {{indexdisplay}}/{{nbquestionbytest}}
                              </ion-card-header>
                              <ion-card-content>
                                  <p [innerHTML]="q_h"></p>  
                              </ion-card-content>
                            </ion-card>
                          </ion-list>
                             
                          <ion-list padding>   
                              <ion-item-group [reorder]="editing" (ionItemReorder)="reorderData($event)" >
                                      <ion-item *ngFor="let item of datarep " [color]="item.isChecked ? 'green' : 'secondary'" >
                                        <b>{{item.prop}}</b>
                                      </ion-item>
                                    </ion-item-group>
                       </ion-list>
                          <ion-list padding>  
                              <ion-row responsive-sm  >
                                  <ion-col col-2 > 
                              
                                  </ion-col> 
                                  <ion-col col-8 >  
                                  </ion-col> 
                                  <ion-col col-2 > 
                                  <button ion-button  full (click)="next()" [disabled]="nbchecked < 4">
                                  Suivant
                                  </button>
                                  </ion-col> 
                              </ion-row>
                          </ion-list>
                        </div>
 </ion-col>
 <ion-col col-3 > 
    {{question_num}}
          </ion-col> 
        </ion-row>

        <div style="width:70%; text-align: center; margin: 0 auto;" >
            <div class="progress-outer" style="margin: 1px 1px;padding: 1px;text-align: center;background-color: #cfcfcf;border: 1px solid #dcdcdc;color: #fff;border-radius: 20px;">
            <div class="progress-inner" [style.width]="progressPercent + '%'" style="width: 96%;height:20px;margin: 2px 2px;text-align: center;background-color: #84bdf1;border: 1px solid #dcdcdc;color: #fff;border-radius: 20px;">
               {{progressPercent}}%
            </div>
            </div>
            </div> 
      </ion-grid>
  </ion-content>

  <ion-footer color="light2">
    <ion-toolbar>
     
    </ion-toolbar>
  </ion-footer>
  
