<ion-header>
    <ion-toolbar  color="secondary" hide-back-button >
          <ion-title>  </ion-title>
            <h3 text-center *ngIf="displayTime!==0">{{displayTime}}</h3>
          <ion-buttons end>
            <button ion-button icon-only (click)="logOut()">
                <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
            </button>
          </ion-buttons>
    </ion-toolbar>  
  </ion-header>
  
  <ion-content color="light2" >
  
      <ion-grid >
    
          <ion-row responsive-sm  >
              <ion-col col-2 > 
              </ion-col> 
              <ion-col col-8 >  
                  <div *ngIf="test_nav==1">
                      <ion-list >  
                        <ion-card>
                          <ion-card-header>
                           <b> {{question_label}}</b>
                             {{indexdisplay}}/{{nbquestionbytest}}
                          </ion-card-header>
                          <ion-card-content >
                              <p [innerHTML]="q_h"></p>  
                          </ion-card-content>
                        </ion-card>
                      </ion-list>
                      <ion-list padding>  
                        <ion-scroll scrollX="true" style="width:100vw; height:200px" >
                            <ion-row >
                              <div *ngFor="let item of options; let i=index" style="padding-right: 20px;">
                              {{item}}
                                <ion-checkbox item-right [ngModel]="checkedIdx == i"  (ngModelChange)="$event ? checkedIdx = i : checkedIdx = -1" [disabled]="checkedIdx >= 0 && checkedIdx != i"></ion-checkbox>
                              </div>
                            </ion-row>
                          </ion-scroll>
                      </ion-list>
                      <ion-list padding>  
                              <ion-row responsive-sm  >
                                  <ion-col col-2 > 
                                  <button ion-button full (click)="prev()" >
                                  Précedent
                                  </button>
                                  </ion-col> 
                                  <ion-col col-8 >  
                                  </ion-col> 
                                  <ion-col col-2 > 
                                  <button ion-button  full (click)="next()">
                                  Suivant
                                  </button>
                                  </ion-col> 
                              </ion-row>
                          </ion-list>
                    </div>
                    <div *ngIf="test_nav==2">
                        <ion-list >  
                          <ion-card>
                            <ion-card-header>
                             <b> {{question_label}}</b>
                               {{indexdisplay}}/{{nbquestionbytest}}
                            </ion-card-header>
                            <ion-card-content >
                                <p [innerHTML]="q_h"></p>  
                            </ion-card-content>
                          </ion-card>
                        </ion-list>
                        <ion-list padding>  
                          <ion-scroll scrollX="true" style="width:100vw; height:200px" >
                              <ion-row >
                                <div *ngFor="let item of options; let i=index" style="padding-right: 20px;">
                                {{item}}
                                  <ion-checkbox item-right [ngModel]="checkedIdx == i"  (ngModelChange)="$event ? checkedIdx = i : checkedIdx = -1" [disabled]="checkedIdx >= 0 && checkedIdx != i"></ion-checkbox>
                                </div>
                              </ion-row>
                            </ion-scroll>
                        </ion-list>
                        <ion-list padding>  
                                <ion-row responsive-sm  >
                                    <ion-col col-2 > 
                                
                                    </ion-col> 
                                    <ion-col col-8 >  
                                    </ion-col> 
                                    <ion-col col-2 > 
                                    <button ion-button  full (click)="next()" >
                                    Suivant
                                    </button>
                                    </ion-col> 
                                </ion-row>
                            </ion-list>
                      </div>
                      <div *ngIf="test_nav==3">
                          <ion-list >  
                            <ion-card>
                              <ion-card-header>
                               <b> {{question_label}}</b>
                                 {{indexdisplay}}/{{nbquestionbytest}}
                              </ion-card-header>
                              <ion-card-content >
                                  <p [innerHTML]="q_h"></p>  
                              </ion-card-content>
                            </ion-card>
                          </ion-list>
                          <ion-list padding>  
                            <ion-scroll scrollX="true" style="width:100vw; height:200px" >
                                <ion-row >
                                  <div *ngFor="let item of options; let i=index" style="padding-right: 20px;">
                                  {{item}}
                                    <ion-checkbox item-right [ngModel]="checkedIdx == i"  (ngModelChange)="$event ? checkedIdx = i : checkedIdx = -1" [disabled]="checkedIdx >= 0 && checkedIdx != i"></ion-checkbox>
                                  </div>
                                </ion-row>
                              </ion-scroll>
                          </ion-list>
                          <ion-list padding>  
                                  <ion-row responsive-sm  >
                                      <ion-col col-2 > 
                                      <button ion-button full (click)="prev()" [disabled]="checkedIdx == -1 ">
                                      Précedent
                                      </button>
                                      </ion-col> 
                                      <ion-col col-8 >  
                                      </ion-col> 
                                      <ion-col col-2 > 
                                      <button ion-button  full (click)="next()" [disabled]="checkedIdx == -1 ">
                                      Suivant
                                      </button>
                                      </ion-col> 
                                  </ion-row>
                              </ion-list>
                        </div>
                        <div *ngIf="test_nav==4">
                            <ion-list >  
                              <ion-card>
                                <ion-card-header>
                                 <b> {{question_label}}</b>
                                   {{indexdisplay}}/{{nbquestionbytest}}
                                </ion-card-header>
                                <ion-card-content >
                                    <p [innerHTML]="q_h"></p>  
                                </ion-card-content>
                              </ion-card>
                            </ion-list>
                            <ion-list padding>  
                              <ion-scroll scrollX="true" style="width:100vw; height:200px" >
                                  <ion-row >
                                    <div *ngFor="let item of options; let i=index" style="padding-right: 20px;">
                                    {{item}}
                                      <ion-checkbox item-right [ngModel]="checkedIdx == i"  (ngModelChange)="$event ? checkedIdx = i : checkedIdx = -1" [disabled]="checkedIdx >= 0 && checkedIdx != i"></ion-checkbox>
                                    </div>
                                  </ion-row>
                                </ion-scroll>
                            </ion-list>
                            <ion-list padding>  
                                    <ion-row responsive-sm  >
                                        <ion-col col-2 > 
                                      
                                        </ion-col> 
                                        <ion-col col-8 >  
                                        </ion-col> 
                                        <ion-col col-2 > 
                                        <button ion-button  full (click)="next()" [disabled]="checkedIdx == -1 ">
                                        Suivant
                                        </button>
                                        </ion-col> 
                                    </ion-row>
                                </ion-list>
                          </div>
   </ion-col>
   <ion-col col-2 > 
        {{question_num}}
            </ion-col> 
          </ion-row>


          <div style="width:70%; text-align: center; margin: 0 auto;">
              <div class="progress-outer" style="margin: 1px 1px;padding: 1px;text-align: center;background-color: #cfcfcf;border: 1px solid #dcdcdc;color: #fff;border-radius: 20px;">
              <div class="progress-inner" [style.width]="progressPercent + '%'" style="width: 96%;height:20px;margin: 2px 2px;text-align: center;background-color: #84bdf1;border: 1px solid #dcdcdc;color: #fff;border-radius: 20px;">
                 {{progressPercent}}%
              </div>
              </div>
              </div> 
       
        </ion-grid>
    
    </ion-content>
    
  