page-espace {
    .paddingietem{ margin: 20px 0 20px 0}

    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
        }}



        img {
            width: 100%;
            max-width: 350px;
        }
        
   

      
}
